.modal_footer {
    display: flex;
    border-top: 1px solid #e8e8e8;
    justify-content: flex-end;
    padding-right: 16px;
}

.contenar .ant-card {
    padding-bottom: 25px;
}

.open_btn {
    width: 40%;
    position: absolute;
    bottom: 5px;
    left: 33%;
}